<!DOCTYPE html>
<html lang="en">

<body>
    <footer class="footer">
        <div class="footer1">
            <p class="footer-paga"><i class="fa-solid fa-credit-card"></i>
                Pagá con tarjeta o efectivo
            </p>
            <p class="footer-paga-detalle">
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                siempre
                es seguro!
            </p>
        </div>

        <div class="footer2">
            <p class="footer-envio"><i class="fa-solid fa-truck"></i>
                Envío gratis desde $ 2.500
            </p>
            <p class="footer-puntos">
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                beneficio
                de Mercado Puntos.
            </p>
        </div>

        <div class="footer3">
            <p class="footer-seguridad"><i class="fa-regular fa-shield-cat"></i>
                Seguridad, de principio a fin
            </p>
            <p class="footer-gusta">
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.
            </p>
        </div>

        <div class="footer4">
            <p class="footer-copyright">
                Copyright © 1999-2020 MercadoLiebre S.R.L.
            </p>
        </div>

    </footer>
    <script src="https://kit.fontawesome.com/e48319c1bd.js" crossorigin="anonymous"></script>
</body>

</html>