<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/e48319c1bd.js" crossorigin="anonymous"></script>
    <title>¡Mercado Liebre!</title>
</head>

<body>
    <header class="main-header">
        <div class="logo-busqueda-compra">
            <img src="images/logo-mercado-liebre.svg" class="logo">
            <form action="form-result.php" class="barra-de-busqueda" method="post" target="_blank">
                <p>
                    <input type="search" name="busquedamusica" placeholder="Buscar productos, marcas, etc.">
                    <input type="submit" value="Buscar">
                </p>
            </form>

            <h2 class="compra-en-cuotas">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas sin tarjeta de crédito
            </h2>
        </div>

        <nav class="navigator">
            <a href="·" class="hamburguer"><i class="fa-solid fa-bars"></i></a>
            <p class="direccion">
                Envío a Fragio 263
            </p>

            <ul class="selector-1">
                <li>Ofertas</li>
                <li>Tiendas oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>

            <ul class="selector-2">
                <li>Creá tu cuenta&nbsp<i class="fa-regular fa-address-card"></i></li>
                <li>Ingresá&nbsp<i class="fa-solid fa-right-to-bracket"></i></li>
                <li>Mis compras&nbsp<i class="fa-solid fa-basket-shopping"></i></li>
            </ul>

        </nav>
    </header>

    <main>

    </main>

    <footer>

    </footer>
    <script src="https://kit.fontawesome.com/e48319c1bd.js" crossorigin="anonymous"></script>
</body>

</html>