/*
id = # único. Es el prioritario. Clase segunda y el elemento (h1, h2), el último en tenerse en cuenta
class = . puedo repetir. Se suelen usar siempre class
Normalize: standariza los estilos
Puedo usar !importan si quiero priorizar. Puedo poner class "parrafo parrafo3"
*/
* {
    box-sizing: border-box;
}

header {
    background-color: #EAC926;
    margin: -10px;
    font-weight: bold;
}

@media(min-width: 768px) {
    .logo-busqueda-compra {
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        justify-content: space-between;

        .barra-de-busqueda {
            padding-top: 12.5px;
            /*border: 1px solid red;*/
        }

        .logo {
            max-width: 200px;
            /*border: 1px solid red;*/
        }

        .compra-en-cuotas {
            max-width: 200px;
            font-size: 20px;
            text-align: right;
            padding-top: 10px;
            /*border: 1px solid red;*/
        }
    }

    .hamburguer {
        display: none;
    }

    .navigator {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
        flex: auto;
        /*border: 1px solid red;*/

        .direccion {
            display: flex;
            align-self: flex-start;
            padding-left: 20px;
            padding: 10px;
            margin: 5px;
            /*border: 1px solid red;*/
        }

        .selector-1 {
            list-style-type: none;
            display: flex;
            padding: 10px;
            padding-left: 200px;
            margin: 5px;
            /*border: 1px solid red;*/
            gap: 30px;
        }

        .selector-2 {
            list-style-type: none;
            display: flex;
            padding: 10px;
            padding-right: 20px;
            margin: 5px;
            /*border: 1px solid red;*/
        }
    }
}


li {
    padding-left: 10px;
}

@media(max-width: 767.9px) {
    .logo-busqueda-compra {
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        justify-content: space-between;

        .barra-de-busqueda {
            padding-top: 12.5px;
            border: 1px solid red;
        }

        .logo {
            max-width: 200px;
            border: 1px solid red;
        }

        .compra-en-cuotas {
            max-width: 200px;
            font-size: 20px;
            text-align: right;
            padding-top: 10px;
            border: 1px solid red;
        }
    }

    .hamburguer {
        display: block;
        background-color: #03264C;
        color: #ffffff;
        max-width: 50px;
        padding: 15px 0;
        border-radius: 8px;
        text-align: center;
        font-size: 18px;
        margin: auto;
    }

    .direccion {
        display: none;
    }

    .selector-1 {
        display: none;
    }

    .selector-2 {
        display: none;
    }
}

/*****************************************************/

.producto {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-top: 30px;
}

.producto img {
    border: 3px solid black;
    width: 30%;
    float: left;
}

.producto-al-lado {
    max-width: 500px;
    text-align: center;
    font-size: 20px;
    float: right;
}

.descripcion-de-producto {
    font-size: 20px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 30px;
}

/*****************************************************/

.ultima-visita {
    background-color: #ebebeb;
    max-height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 50px;
    width: 100%;
    margin-left: -10px;
    margin-right: 10px;
}

.ultima-visita img {
    border-bottom: 3px solid black;
    width: 20%;
}

.ultima-visita h2 {}

.ultima-visita h3 {
    margin: 0;
}

.ofertas {
    background-color: #ebebeb;
    max-height: 470px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 50px;
    width: 100%;
    margin-left: -10px;
    margin-right: 10px;
}

.ofertas img {
    border: 3px solid black;
    width: 20%;
}

.ofertas h2 {}

.ofertas h3 {
    margin: 0;
}

.descripcion-de-producto-ofertas {
    font-size: 15px;
}

/*****************************************************/

.footer p {
    margin-bottom: -10px;
}

.footer {
    background-color: #EAC926;
    height: 150px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 200px;
    /*border: 1px solid red;*/
    /*position: fixed;*/
    margin-left: -10px;
    margin-right: 10px;

    .footer1 {
        display: flex;
        align-items: center;
        flex-direction: column;
        /*border: 1px solid red;*/
    }

    .footer-paga {
        font-size: 20px;
        font-weight: bold;
        /*border: 1px solid red;*/
    }

    .footer-paga-detalle {
        display: flex;
        max-width: 250px;
        font-size: 15px;
        text-align: center;
        /*border: 1px solid red;*/
    }

    .footer2 {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .footer-envio {
        font-size: 20px;
        font-weight: bold;
    }

    .footer-puntos {
        display: flex;
        max-width: 250px;
        font-size: 15px;
        text-align: center;
    }

    .footer3 {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .footer-seguridad {
        font-size: 20px;
        font-weight: bold;
    }

    .footer-gusta {
        display: flex;
        max-width: 250px;
        font-size: 15px;
        text-align: center;
    }

    .footer4 {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .footer-copyright {
        font-size: 15px;
        font-weight: bold;
        max-width: 150px;
        text-align: center;
        padding-top: 10px;
        /*border: 1px solid red;*/
    }
}