<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {title:"¡Mercado Liebre"}) %>

    <body>
        <!-- head -->
        <%- include('../partials/header.ejs') %>
            <main>
                <div class="background">
                    <img src="/images/img-home-banner.jpg" class="carrousel">
                </div>
                <div class="basado-en">
                    Basado en tus últimas visitas
                </div>
                <article class="ultima-visita">
                    <div class="producto-ultima-visita">
                        <img src="/images/img-macbook-pro-2019.jpg" alt="">
                        <p class="descripcion-de-producto-ultima">
                        <h3 class="precios">$230.000</h3>
                        <h3>MacBook Pro 2019</h3>
                        <h3 class="off">20% off</h3>
                        <h3><i class="fa-solid fa-truck" style="color: #3d6615;"></i> Envío gratis</h3>
                        <br>
                    </div>
                    <div class="producto-ultima-visita">
                        <img src="/images/img-macbook-pro-2019.jpg" alt="">
                        <p class="descripcion-de-producto-ultima">
                        <h3 class="precios">$830.000</h3>
                        <h3>MacBook Pro 2022</h3>
                        <h3 class="off">20% off</h3>
                        <h3><i class="fa-solid fa-truck" style="color: #3d6615;"></i> Envío gratis</h3>
                        <br>
                    </div>
                </article>
                <div class="breaks-espacios"> <br></div>

                <div class="basado-en">
                    Ofertas
                </div>
                <article class="ultima-visita">
                    <div class="producto-ultima-visita">
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                        <p class="descripcion-de-producto-ultima">
                        <h3 class="precios">$150.000</h3>
                        <h3>Samsung Galaxy S10</h3>
                        <h3 class="off">10% off</h3>
                        <h3><i class="fa-solid fa-truck" style="color: #3d6615;"></i> Envío gratis</h3>
                        <br>
                    </div>
                    <div class="producto-ultima-visita">
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                        <p class="descripcion-de-producto-ultima">
                        <h3 class="precios">$830.000</h3>
                        <h3>Samsung Galaxy S15</h3>
                        <h3 class="off">20% off</h3>
                        <h3><i class="fa-solid fa-truck" style="color: #3d6615;"></i> Envío gratis</h3>
                        <br>
                    </div>
            </main>
            <div class="breaks-espacios"> <br></div>
            <%- include('../partials/footer.ejs') %>
                <script src="https://kit.fontawesome.com/e48319c1bd.js" crossorigin="anonymous"></script>
    </body>

</html>