<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<%- include('../partials/head.ejs', {title:"ML: Productos"}) %>

    <body>
        <!-- head -->
        <%- include('../partials/header.ejs') %>
            <article class="ultima-visita-ofertas">
                <% const jsonData=JSON.parse(datos); function shuffleArray(array) { for (let i=array.length - 1; i> 0;
                    i--) {
                    const j = Math.floor(Math.random() * (i + 1));
                    [array[i], array[j]] = [array[j], array[i]];
                    }
                    return array;
                    }

                    // Shuffle the JSON data array
                    const shuffledData = shuffleArray(jsonData);

                    // Iterate over the shuffled array and display the items
                    for (let i = 0; i < shuffledData.length; i++) { const item=shuffledData[i]; if (item.discount !='0'
                        ) { %>
            </article>
            <%- include('../partials/footer.ejs') %>
                <script src="https://kit.fontawesome.com/e48319c1bd.js" crossorigin="anonymous"></script>
    </body>

</html>