<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {title:"producto"}) %>

    <body>
        <!-- head -->
        <%- include('../partials/header.ejs') %>

            <body>
                <main>
                    <article class="producto">
                        <img src="/images/img-cafetera-moulinex.jpg" alt="">
                        <p class="producto-al-lado">

                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore
                            et
                            dolore magna aliqua. Tincidunt tortor aliquam nulla facilisi cras fermentum odio. Egestas
                            diam
                            in
                            arcu
                            cursus euismod quis viverra. In fermentum posuere urna nec. Id venenatis a condimentum vitae
                            sapien
                            pellentesque habitant morbi tristique. Sit amet porttitor eget dolor morbi non arcu risus
                            quis.
                            Porttitor
                            lacus luctus accumsan tortor. Suspendisse faucibus interdum posuere lorem ipsum. Commodo
                            nulla
                            facilisi
                            nullam vehicula ipsum a arcu. Blandit aliquam etiam erat velit scelerisque in dictum. Cras
                            semper
                            auctor
                            neque vitae tempus quam pellentesque nec nam.

                        </p>
                    </article>
                    <br>
                    <p class="descripcion-de-producto">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et
                        dolore magna aliqua. Tincidunt tortor aliquam nulla facilisi cras fermentum odio. Egestas diam
                        in
                        arcu
                        cursus euismod quis viverra. In fermentum posuere urna nec. Id venenatis a condimentum vitae
                        sapien
                        pellentesque habitant morbi tristique. Sit amet porttitor eget dolor morbi non arcu risus quis.
                        Porttitor
                        lacus luctus accumsan tortor. Suspendisse faucibus interdum posuere lorem ipsum. Commodo nulla
                        facilisi
                        nullam vehicula ipsum a arcu. Blandit aliquam etiam erat velit scelerisque in dictum. Cras
                        semper
                        auctor
                        neque vitae tempus quam pellentesque nec nam.
                    </p>
                    <br>
                    <br>
                    <div class="basado-en">
                        Basado en tus últimas visitas
                    </div>
                    <article class="ultima-visita">
                        <div class="producto-ultima-visita">
                            <img src="/images/img-macbook-pro-2019.jpg" alt="">
                            <p class="descripcion-de-producto-ultima">
                            <h3 class="precios">$230.000</h3>
                            <h3>MacBook Pro 2019</h3>
                            <h3 class="off">20% off</h3>
                            <h3><i class="fa-solid fa-truck" style="color: #3d6615;"></i> Envío gratis</h3>
                            <br>
                        </div>
                        <div class="producto-ultima-visita">
                            <img src="/images/img-macbook-pro-2019.jpg" alt="">
                            <p class="descripcion-de-producto-ultima">
                            <h3 class="precios">$830.000</h3>
                            <h3>MacBook Pro 2022</h3>
                            <h3 class="off">20% off</h3>
                            <h3><i class="fa-solid fa-truck" style="color: #3d6615;"></i> Envío gratis</h3>
                            <br>
                        </div>
                        <br>
                    </article>
                    <div class="breaks-espacios"> <br></div>

                    <div class="basado-en">
                        Ofertas
                    </div>
                    <article class="ultima-visita">
                        <div class="producto-ultima-visita">
                            <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                            <p class="descripcion-de-producto-ultima">
                            <h3 class="precios">$150.000</h3>
                            <h3>Samsung Galaxy S10</h3>
                            <h3 class="off">10% off</h3>
                            <h3><i class="fa-solid fa-truck" style="color: #3d6615;"></i> Envío gratis</h3>
                            <br>
                        </div>
                        <div class="producto-ultima-visita">
                            <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                            <p class="descripcion-de-producto-ultima">
                            <h3 class="precios">$830.000</h3>
                            <h3>Samsung Galaxy S15</h3>
                            <h3 class="off">20% off</h3>
                            <h3><i class="fa-solid fa-truck" style="color: #3d6615;"></i> Envío gratis</h3>
                            <br>
                        </div>
                </main>
            </body>
            <div class="breaks-espacios"> <br></div>
            <%- include('../partials/footer.ejs') %>
                <script src="https://kit.fontawesome.com/e48319c1bd.js" crossorigin="anonymous"></script>

</html>