<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<%- include('../partials/head.ejs', {title:"ML: Productos"}) %>

    <body>
        <!-- head -->
        <%- include('../partials/header.ejs') %>

            <article class="ultima-visita">
                <div class="producto-ultima-visita-ofertas">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="">
                    <p class="descripcion-de-producto-ultima">
                    <h3 class="precios">$230.000</h3>
                    <h3>MacBook Pro 2019</h3>
                    <h3 class="off">20% off</h3>
                    <h3><i class="fa-solid fa-truck" style="color: #3d6615;"></i> Envío gratis</h3>
                    <br>
                </div>
            </article>

            <%- include('../partials/footer.ejs') %>
                <script src="https://kit.fontawesome.com/e48319c1bd.js" crossorigin="anonymous"></script>
    </body>

</html>